.block1 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 1440px;
    height: 920px;
}

.block1__background {
    display: flex;
    max-width: 1440px;
    align-items: center;
    height: 913px;
    background-image: url(../images/block1-image.svg);
    background-repeat: no-repeat;
    /* background-size: calc(); */
}

.block1__contentText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block1__subTitle {
    font-size: 36px;
    font-weight: 400;
    color: var(--color-olivia);
    font-family: 'Yellowtail', cursive , sans-serif;
}

.block1__title {
    max-width: 496px;
    font-size: 70px;
    font-weight: 700;
    color: var(--color-greyBlack);
    margin-left: 20px;
}

.block1__button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 219px;
    height: 82px;
    background: var(--color-greyYellow);
    border-radius: 10px;
    cursor: pointer;
}

.block1__buttonText {
    font-size: 19px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--color-greyBlack);
}

.block1__arrow {
    width: 38px;
    height: 38px;
}

@media (max-width: 1152px) {
    .container {
        min-height: 9774px;
    }
    .header {
        justify-content: center;
    }
    .nav__link {
        display: none;
    }
    .basket__shop {
        margin-right: 0;
        width: 20%;
    }
    .block1 {
        margin-top: 10px;
        height: 725px;
    }
    .block1__background {
        max-width: 1152px;
        justify-content: space-around;
        background-size: 100%;
        height: 713px;
    }
    .block2 {
        width: 1152px;
        margin-top: 0;
        min-height: 820px;
    }
    .block3 {
        /* min-width: 1152px; */
        max-height: 650px;
    }
    .block3__container {
        min-width: 1152px;
        max-height: 650px;
    }
    .block3__image {
        display: none;
    }
    .block3__content {
        align-items: center;
        justify-content: center;
    }
    .block4 {
        min-width: 1152px;
        min-height: 2050px;
    }
    .block4__contentTitle {
        /* top: 40px;
        position: relative; */
        max-width: 1152px;
    }
    .block4__card {
        max-width: 1152px;
        min-height: 1850px;
    }
    .block5 {
        width: 1152px;
        background-size: 100%;
    }
    .block5__container {
        max-width: 1152px;
        min-height: 1168px;
    }
    .block5__review {
        max-width: 1152px;
    }
    .block5__indicators {
        display: none;
    }
    .block6 {
        width: 1152px;
        max-height: 800px;
    }
    .block6__container {
        max-width: 1152px;
    }
    .block6__tableContent {
        max-width: 1152px;
        flex-direction: column;
    }
    .block6__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block6__card {
        max-width: 1152px;
    }
    .container__card.container__card--block6 {
        display: none;
    }
    .block7__contentInfo {
        right: 0px;
    }
    .block10__utilitPages {
        
    }
}