@import "reset.css";
@import "app.css";
@import "variables.css";
@import "container.css";
@import "header.css";
@import "block1.css";
@import "block2.css";
@import "block3.css";
@import "block4.css";
@import "block5.css";
@import "block6.css";
@import "block7.css";
@import "block8.css";
@import "block9.css";
@import "block10.css";
@import "block11.css";
@import "media.css";
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Yellowtail&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
}

h4 {
font-family: 'Yellowtail', cursive , sans-serif;
}

a {
    text-decoration: none;
}

