:root {
    --color-olivia: #7EB693;
    --color-greyBlack: #274C5B;
    --color-greenBlack: #274c5b;
    --color-white: #FFFFFF;
    --color-greyYellow: #EFD372;
    --color-grey: #f9f8f8;
    --color-greenWhite: #7eb693;
    --color-blueBlack: #274c5b; 
}